modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]

[[workflows.workflow]]
name = "Dev Server"
author = 40781198
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0"
